@media all and (max-width: 720px){
	.comentarios{
		display:none;
	}
	.comentariosMedia{
		display:inline;
	}
	.editTabla{
		display:none;
	}
	.editMedia{
		display:inline;
	}
}

.cartera {
	text-align: center;
	width: 100%;
}
.cartera img {
	max-width: 90px;
}
.infodiv span {
	width: 24%;
	display:inline-block;
}

#movimientos {
	margin-right: 3%;
}

.cartera-seccion-1 {
	margin-left:4px;
	margin-top: 40px;
}
.bordesH3 {
	border-top: 2px solid #009999;
	border-right: 2px solid #009999;
	margin-left: -3px;
}
.bordesH3-centradas {
	border-top: 2px solid #009999;
	border-right: 2px solid #009999;
	margin-left: -3px;
}
.cartera-h3 {
	margin-left:20px;
}
.bordesH3-fin {
	border-top: 2px solid #009999;
	margin-left: -3px;
	width: 114% !important;
}
.label-cartera-inicio {
	color:#009ED3; 
	font-weight: bold;
}
.label-cartera {
	color:#009ED3; 
	font-weight: bold;
	margin-left: 15px;
}
.cartera-titulo-pleca {
	color: #000000;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
}
.label-compras {
	color:#009ED3;
	width: 20% !important; 
}
.hr-cartera {
	border-color: #009999;
	margin-bottom: 40px;
	margin-top: -5px;
}
.cartera-buttons {
	text-align:center;
	margin-top:35px;
	margin-bottom:35px;
}
.contenedor-cartera {
	padding: 10px 50px 0px;
}
.table-cartera {
	border-radius: 50%;
}
.middle-td {
	vertical-align: middle !important;
	text-align: center !important;
}
.middle-td-img {
	vertical-align: middle !important;
	text-align: right !important;
}
.middle-td-titulo {
	vertical-align: middle !important;
	text-align: left !important;
}
.th-center-cartera {
	text-align: center !important;
	color: #2C9AD9 !important;
	font-weight: bold;
}

