@media all and (max-width: 720px){
	.comentarios{
		display:none;
	}
	.comentariosMedia{
		display:inline;
	}
	.editTabla{
		display:none;
	}
	.editMedia{
		display:inline;
	}
}

.cartera {
	text-align: center;
	width: 100%;
}
.cartera img {
	max-width: 90px;
}
.infodiv span {
	width: 24%;
	display:inline-block;
}
