
div#rt-mainbody-surround {
	margin-top:0;
}
div#rt-mainbody-surround div#rt-mainbody {
	margin-top:15px;
}
#wrapper {
	width: 80%;
}
#content, #content #info {
	width: 100%;
	height: 531px;
	margin-bottom: 10px;
	position: relative;
}
#content #info { 
	overflow-y: scroll;
}
#menu {
	margin: 0 0 0 15px;
	width: 16.66%;
}
#wrapper, #menu {
	float: left;
}
#izquierdaDesc, #derechaDesc {
	min-width: 280px;
	margin-right: 20px;
}
#izquierdaDesc {
	width: 40%;
}
#derechaDesc {
	width: 55%;
}
#buttons{
	margin-top:-65px;
	margin-left:-14px;
	float:left;
}
#buttons a{
	color:#000;
	text-shadow:none;
	font-size:14px;
	font-weight:bold;
}
#buttons span{
	color:#000;
	text-shadow:none;
	font-size:14px;
	font-weight:bold;
}
.arrecho{
	float:left;
	background-color: #b3b3b3;
	padding: 5px 14px;
	margin-right: 3px;
}
#buttons div:first-child{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#buttons div:last-child{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.active {
	border: 1px solid #FFF;
	background-position-y: -148px;
}
.cerrar {
	position: absolute;
	top: 5px;
	right: 5px;
	background: #b3b3b3;
	padding: 3px 10px;
	border-radius: 3px;
	text-shadow: none;
	font-size: 16px;
	color:#fff !important;
	cursor: pointer;
}
.cerrar a{
	color: #FFF !important;
}
.menu-item {
	width: 207px;
	height: 123px;
	overflow: hidden;
	float: left;
	margin-bottom: 13px;
	margin-right:20px;
	background-position: top center;
	background-color: #66cccc;
	background-repeat:no-repeat;
}
.menu-item:last-of-type {
	margin-bottom: 0;
}
.avatar {
	width: 100%;
}
.video {
	background-image: url('../images/icon-video.png');
}
.gallery {
	background-image: url('../images/icon-gallery.png');
}
.audios {
	background-image: url('../images/icon-audios.png');
}
.info {
	background-image: url('../images/icon-info.png');
}
.over, .active {
	background-position-y: -123px;
}
.active {
	background-color: #009ed3;
}
.content-banner, #content_player, #video-player {
	max-width: 1165px;
	width: 100%;
}
.info-banner {
	position: absolute;
	width: 100%;
}
.info-banner div.rt-inner {
	margin: 3em;
	padding: 0.5em 1em;
	background: rgba( 80, 80, 80, 0.3 );
	display: inline-block;
	border-radius: 3px;
}
#banner .info-banner div.rt-inner h1,
#banner .info-banner div.rt-inner h2,
#banner .info-banner div.rt-inner h3
{
	color: #FFFFFF;
	text-shadow: none;
}
.tipo_proy_prod {
	margin-top: 1em !important;
}
#banner {
	position: relative;
}

.fechacreacion {
	margin-top: -10px;
}
div#banner div.rt-inner {
	color: #FFF;
	line-height: 15px;
}

div#banner div.rt-inner h2 {
	color: #FFF;
	margin: 0px;
	line-height: 30px;
	font-weight:bolder;
}

div#banner div.rt-inner h4 {
	color: #FFF;
	margin: 0px;
	line-height: 20px;
	text-transform:uppercase;
}

div#banner div.rt-inner a {
	color: #FFF;
	font-size:14px;
}

#video-player {
	margin: auto;
	height: 600px;
}

#menu-player {
	float: left;
	max-width: 150px;
	width: 100%;
	padding-right: 10px;
}
#reproductor {
	float: left;
	max-width: 780px;
	width: 100%;
	height: 100%;
}
#slider, #reproductor {
	height: 530px;
}
.video-player {
	width: 100%;
	height: 100%;
}

.liga[type="button"] {
	float: left;
	max-width: 130px;
	width: 100%;
	font-size: 0px;
	height: 109px;
}
.gantry-width-spacer {
	margin-left: 0 !important;
}
#tablafinanzas td {
	padding: 5px;
}
#contenido-detalle ul li span:first-of-type {
	width: 61%;
	display: inline-block;
}
.encabezado h2, .encabezado h3 {
	margin: 0 0 0.5em 0;
	line-height: 100%;
}
.encabezado h1, .encabezado h2, .encabezado p {
	margin: 0;
}
.encabezado {
 	margin-bottom: 1em;
}    
#productor a{
	color:#666;
}
#rating{
	float: left;
	margin-top: 20px;
	margin-left: 90px;
	width: 100px;
	cursor: pointer;
}
#texto{
	float: left;
	font-size: 20px;
	position: relative;
	margin-left: 30px;
	top: 22px;
}
#map-wrapper {
	height: 300px;
	width: 455px;;
}
#proInfo {
	border-top: 1px solid #009999;
	margin:10px 0;}
#proInfo > .bloque {
	width: 16%;
	display: inline-block;
	border-left: 1px solid #009999;
	padding-top: 30px; 
}
#proInfo .bloque:first-of-type {
	width: 375px;
	margin-left: 0;
	margin-right: -5px;
	padding-top: 10px; 
	border: 0;
}
#proInfo .bloque:last-of-type {
	padding-top: 69px;
}
#proInfo .margen {
	margin: 1em;
}
#proInfo .btn-invertir {
	width: 100%;
	text-align: center;
	margin-top: -24px;
}
#statusbar, #animacionbg {
	position: relative;
	height: 2em;
	margin-bottom: 1.5em;
	width : 0%;
	border-radius: 10px;
	/*background: #009999; /* Old browsers */*/

/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60cacd', endColorstr='#0099d1',GradientType=1 ); /* IE6-9 */*/
}
#statusbar {
	background: #009999;
}
.statusbarFecha {
	position:absolute;
}
#animacionbg {
	background: #d6d6d6;
	width: 100%;
	content: '';
}
#animacionbg > span {
	position: absolute;
	top: 2.3em;
}
#animacionbg span {
	font-weight: bold;
}
#animacionbg .recaudado {
	text-align: right;
	color: #FFFFFF;
	min-width: 150px;
    font-size: 120%;
    font-weight: bold;
    padding: 2px 8px 0 0;
}
div#proInfo h1, div#proInfo h2, div#proInfo h3 {
	line-height: 100%;
}
div#proInfo {
	color: #002c61;
	font-weight: bold;
	font-size:14px;
}
div#proInfo h1 {
	color: #009ed3;
	font-size: 22px;
}
div#proInfo .naranja {
	color: #ff763f;
}

#contenido-detalle {
	margin-bottom: 10px;
	/*height: 500px;*/
	/*overflow-y: scroll;*/
}
#finanzas #contenido-detalle {
	height: 355px;
}

@media screen and (max-width:1200px) {
	#menu-player {
		max-width: 100%;
	}
	.liga[type="button"] {
		float: left;
		max-width: 182px;
		width: 100%;
	}
}

@media screen and (max-width:960px) {
	#menu-player {
		max-width: 100%;
	}
	.liga[type="button"] {
		float: left;
		max-width: 143px;
		width: 100%;
		height: 107px;
	}
	.info-banner {
		max-width: 150px;
		left: 50px;
	}
	#banner .content-banner .info-banner h2 {
		font-size: 15px;
	}
	#banner .content-banner .info-banner h4 {
		font-size: 15px;
	}
	#banner .content-banner .info-banner p {
		font-size: 15px;
	}
}

@media screen and (max-width:770px) {
	#menu-player {
		max-width: 100%;
	}
	.liga[type="button"] {
		float: left;
		max-width: 86px;
		width: 100%;
		height: 65px;
		margin: 5px;
	}
	#wrapper, #content {
		width: 100%;
		height:auto;
	}
	#menu {
		width: 100%;
		margin: 0;	
	}
	.menu-item {
		width: 22%;
		margin-right: 3%;
		height: 6em;
		background-size: 200%;
	}
	.menu-item:last-of-type {
		margin-right: 0;
	}
	.over, .active {
		background-position-y: 0em;
	}
	#slider, #reproductor, #video-player {
		height: inherit;
		height: 17em;
	}
	#reproductor {
		margin-bottom: 10px;
	}
	#proInfo > .bloque {
		width: 86%;
		display: block;
		padding-top: 0px;
	}
	#proInfo .bloque:last-of-type {
		padding-top: 18px;
	}
}

@media screen and (max-width:500px) {
	.img_avatar {
		width: 253px;
	}
	#map-wrapper {
		height: 250px;
		width: 255px;;
	}
	#rating{
		float: left;
		margin-top: 20px;
		margin-left: 45px;
		width: 100px;
		cursor: pointer;
	}
	#contenido-detalle {
		margin-bottom: 10px;
		width:270px;
		height: 300px;
		overflow-y: scroll;
	}
}
