/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.pagination {
	
}
.pagination a {
	text-decoration: none;
	color: #666;	
	font-size:16px;
}
.pagination a,.pagination span {
	display: block;
	float: left;
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
}
.pagination .currento {
	color: #e1001a;
	text-decoration: underline;
}
.pagination .currento.prev,.pagination .currento.next {
	color: #666;
	font-weight:bold;
	font-size:16px;
	text-decoration: none;
	}
.ancho {
	width: 33%;
}
.inner {
	margin: 1em;
}

div.proyectos > .inner {
 	margin: 0 5px 0 1em; 	
	border-radius: 15px;
	box-shadow: 5px 3px 16px #999292;
	background: #F6F6F6;
	padding-top:7px;
	padding-bottom:7px;
	
}
.proyectos {
	float: left;
	margin-bottom: 1em;
}
.titulo{
	color:fff;
	content: "\f0d7";
}
.tituloProy a, .catSubCat, .productor a, .descripcion {
	color:#000 !important;
	font-weight:bold;
}
.tituloProy a{
  font-size: 171%;
}
.catSubCat {
  font-size: 129%;
}
.descripcion {
  font-size: 114%;
}
.statusP{
}
.titulo span, .descripcion span {
	display: block;
	line-height: 1.5em;
}
.avatar , .mask{
	background-size: 100%;
	height: 380px;
	width: 380px;
	display: block;
}
.descText {
	margin: 2em 0 1em;
	line-height: 1.5em;
	height:65px !important;
	overflow:hidden;
	font-weight: normal;
	font-size: 14px !important;
	color: #666666;
}
.proyectos .readmore {
	text-align: right;
}
.imgPerfil{
	float:left;
	width:127px;
	height:100px;
	overflow:hidden;
}
.datosPerfil{
	float:left;
	padding-left:5px;
}
@media screen and (min-width: 721px) and (max-width: 1216px) {
	.ancho {width: 50%;}
}
@media screen and (max-width: 976px) {
	.ancho {width: 100%;}
}
.proyectos .barra, .proyectos .fondo_barra {
	height: 6px;
	border-radius: 4px;
}
.proyectos .fondo_barra {
	background: #FFF;
	margin-bottom: 14px;
	margin: 36px 20px;
}
.txt_barra {
	float:right;
	margin-top: -19px;
}
.proyectos .barra {
	display: inherit;
	background: #33ffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #33ffff 0%, #009ed3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33ffff), color-stop(100%,#009ed3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33ffff 0%,#009ed3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33ffff 0%,#009ed3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33ffff 0%,#009ed3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #33ffff 0%,#009ed3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffff', endColorstr='#009ed3',GradientType=0 ); /* IE6-8 */
}
.cuentas{
	margin: 0 20px 0;
	font-size: 18px;
	font-weight: bold;
	color: #002c61;
}
.boton-wrap{
	text-align: right;
	margin-top: 10px;
}
.productStyle{
	margin: 20px;
	
}
.productStyle > div{
	border-top: 1px solid #009ED3;
	width: 33%;
	display: inline-block;
}
.big{
	font-size: 36px;
	color: #009ED3;
}
#rt-mainbody-surround .productStyle .box1 {
	background: transparent;
}
.productStyle .small{
	font-size: 14px;
}
.productStyle .small, .big{
	line-height: 100%;
}
.fechaDiaMesAnio{
	padding: 0 10px 0;
}
.dia {
	display: inline-block;
	margin-left: 13px;
}
.mesAnio{
	display: inline-block;
	margin: 16px 0 0 0px;
}
.fechaCierreProd{
	line-height: 65%;
}
.productStyle .two-cols {
	display:inline-block;
	width: 50%;
}
.productStyle .two-cols .inside {
	padding-top: 10px;
	color:#606060;
}
.productStyle .two-cols.first .inside {
	border-right: 1px solid #009ed3;
}
.productStyle .two-cols.second .inside {
	padding-left: 10px;
}
