
.mod-pro {
	padding: 0 15px 10px 0;
	color:#474747;
}
.mod-pro img {
	width: 75px;
	float: left;
	margin-right: 10px;
}
.mod-pro:after, .mod-pro img {
	clear: both;
}
.derecha {
	float: right;
}
.mod-pro h1, 
.mod-pro h2, 
.mod-pro h3, 
.mod-pro h4,
.mod-pro p 
{
	padding: 0;
	line-height: 100%;
	margin: 0 0 0.3em 0;
}
