.fila > div {
	display: inline-block;
	width: 20%;
	margin-bottom: 10px;
}
.encabezado > div {
	text-align: center;
}

.editable {
	cursor: pointer;
}
#divConfirmacion{
	display: none;
	margin: 0 auto;
	max-width: 400px;
}
.labelsconfirmacion{
	width: 40%;
	display: inline-block;
}
.datosconfirmacion{
	font-weight: bold;
}
